christmas_lights/src/__pycache__/__init__.cpython-311.pyc
christmas_lights/src/__pycache__/light_grid.cpython-311.pyc
.vscode/settings.json
christmas_lights/tests/__pycache__/test_christmas_lights.cpython-311-pytest-7.4.4.pyc
christmas_lights/tests/__pycache__/__init__.cpython-311.pyc
